* {
    margin: 0;
    padding: 0;
}

html {

    font-family: 'Bebas Neue', sans-serif;
    height: 100vh;
    background-color: black;
    justify-content: center;
}

body {
    background-color: white;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 24px; /* Increased font size for header */
}

#progress-bar {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    padding: 20px;
    background-color: #e1e1e1;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
}

button {
    padding: 10px;
    font-size: 16px;
    font-family: 'Bebas Neue', sans-serif; /* Applying Bebas Neue to buttons as well */
}

.calorie-box {
    background-color: black;
    display: inline-block;
    margin: 1px;
    height: 20px;
}

.red-box {
    background-color: red;
}